<section class="main-player">
    <video id="player" class="video-js vjs-fluid vjs-4-3" controls autoplay="true" preload="auto" muted="true" 
           data-setup='{"controlBar": {"playToggle": false}}'>
        <!-- poster="assets\Toon.jpg" data-setup='{"controls": false}' width="800" height="600"  -->
        <source src="{{ default }}" type="video/mp4" />-->
        <!-- <source src="{{ x.video.url }}" type="video/webm" />-->
    </video>
  
    <div class="playlist-container preview-player-dimensions vjs-fluid">
        <ol class="vjs-playlist"></ol>
    </div>
</section>
